#beaver-modal-text-status {
  position: fixed;
  top: -100px;
  -webkit-transition: opacity linear 0.3s, top linear 0.3s;
  -moz-transition: opacity linear 0.3s, top linear 0.3s;
  -o-transition: opacity linear 0.3s, top linear 0.3s;
  -ms-transition: opacity linear 0.3s, top linear 0.3s;
  transition: opacity linear 0.3s, top linear 0.3s;
  width: 100%;
  z-index: 9999;
}
#beaver-modal-text-status .alert {
  width: 400px;
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  padding: 5px;
  font-size: 10pt;
}
#beaver-modal-text-status .alert .close {
  right: 0;
}
#beaver-modal-text-status.beaver-status-out {
  top: -40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#beaver-modal-text-status.beaver-status-in {
  top: 5px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#beaver-progressbar {
  position: fixed;
  top: 0;
  width: 100%;
  heigth: 10px;
  z-index: 2000;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 4px;
}
#cp-nav-container {
  margin-bottom: 0 !important;
}
#cp-nav-container .navbar-inner {
  width: 100%;
  position: relative;
  margin: auto;
}
#cp-nav-container .navbar-inner .btn-group {
  display: inline-block;
  margin-left: 5px;
}
#login-container {
  position: relative;
  display: table;
  height: 100%;
}
#login-form-container {
  position: relative;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
#login-form-container .panel {
  -webkit-box-shadow: 0 3px 13px 2px rgba(0,0,0,0.5);
  box-shadow: 0 3px 13px 2px rgba(0,0,0,0.5);
  width: 300px;
}
#login-form-container .panel .panel-body {
  padding: 10px 10px 0 10px;
}
#login-form-container .panel .panel-body .form-errors .alert {
  padding: 2px;
  font-size: 10pt;
}
.cp-content-tab-body.logos {
  margin-bottom: 50px;
}
.cp-content-tab-body.logos .ui-sortable-helper {
  overflow: hidden !important;
  height: 150px !important;
  border: 4px solid rgba(66,139,202,0.3) !important;
  -webkit-border-radius: 8px !important;
  border-radius: 8px !important;
  background-color: rgba(255,255,255,0.3) !important;
}
.cp-content-tab-body.logos .ui-sortable-helper .cp-content-item-container {
  background-color: transparent !important;
  width: 142px !important;
  height: 142px !important;
  padding: 5px !important;
  border: none !important;
  overflow: hidden !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.cp-content-tab-body.logos .cp-content-item {
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 150px;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;
}
.cp-content-tab-body.logos .cp-content-item:hover {
  border: none;
  background-color: transparent;
  overflow: visible;
}
.cp-content-tab-body.logos .cp-content-item .cp-content-item-container {
  position: absolute;
  width: 142px;
  height: 142px;
  padding: 5px;
  overflow: hidden;
  -webkit-transition: height linear 0.2s;
  -moz-transition: height linear 0.2s;
  -o-transition: height linear 0.2s;
  -ms-transition: height linear 0.2s;
  transition: height linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.logos .cp-content-item .cp-content-item-container:hover {
  cursor: move;
  background-color: rgba(255,255,255,0.95);
  width: 150px;
  height: 200px;
  padding: 5px;
  border: 4px solid rgba(66,139,202,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  z-index: 10;
  overflow: visible;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
}
.cp-content-tab-body.logos .cp-content-item .cp-content-item-container .cp-content-item-image-container {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 132px;
  height: 132px;
}
.cp-content-tab-body.logos .cp-content-item .cp-content-item-container .cp-content-item-image-container .cp-content-item-image {
  max-width: 132px;
  max-height: 132px;
}
.cp-content-tab-body.logos .cp-content-item .cp-content-item-container .cp-content-item-devider {
  width: 100%;
  height: 10px;
}
.cp-content-tab-body.music {
  margin-bottom: 50px;
/*
  .ui-sortable-helper
    overflow hidden !important
    height $data-logo-item-height !important
    border $data-nav-border-width solid $data-logo-item-border-hover-color !important
    border-radius $data-nav-border-radius + $data-nav-border-width !important
    background-color $data-logo-item-bg !important
    .cp-content-item-container
      background-color transparent !important
      width $data-logo-item-width - ($data-nav-border-width * 2) !important
      height $data-logo-item-height - ($data-nav-border-width * 2) !important

      padding $data-logo-item-padding !important

      border none !important
      overflow hidden !important
      box-shadow none !important
*/
}
.cp-content-tab-body.music .cp-content-item {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.music .cp-content-item:hover {
  background-color: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  border: 4px solid rgba(66,139,202,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.music .cp-content-item:hover .cp-content-item-container:before {
  background-image: url("/images/grippy1_large.png");
  cursor: move;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .cp-content-tab-body.music .cp-content-item:hover .cp-content-item-container:before {
    background-image: url("/images/grippy1_large@2x.png");
    -webkit-background-size: 5px 30px;
    -moz-background-size: 5px 30px;
    background-size: 5px 30px;
  }
}
.cp-content-tab-body.music .cp-content-item .cp-content-item-container {
  height: 34px;
}
.cp-content-tab-body.music .cp-content-item .cp-content-item-container:before {
  content: "";
  display: block;
  background: none;
  width: 10px;
  height: 34px;
  float: left;
  background-repeat: repeat-y;
}
.cp-content-tab-body.music .cp-content-item .cp-content-item-container .cp-content-item-title {
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}
.cp-content-tab-body.music .cp-content-item .cp-content-item-container .cp-content-item-title .form-group {
  width: 750px;
}
.cp-content-tab-body.music .cp-content-item .cp-content-item-container .cp-content-item-title .form-group .cp-data-music-title {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cp-content-tab-body.music .cp-content-item .cp-content-item-container .cp-content-item-title .form-group .cp-data-music-title:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  border-color: #ccc;
}
.cp-content-tab-body.music .cp-content-item .cp-content-item-container .cp-content-item-title .form-group .cp-data-music-title:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(102,175,233,0.6);
  box-shadow: 0 0 8px rgba(102,175,233,0.6);
  border-color: #66afe9;
}
.cp-content-tab-body.edit-item {
  border: 4px solid rgba(66,139,202,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  margin-bottom: 20px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-thmb-img-container .img-container {
  width: 161.60000000000002px;
  height: 245.60000000000002px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-thmb-img-container .img-container img {
  max-width: 161.60000000000002px;
  max-height: 245.60000000000002px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-logo-img-container .img-container {
  width: 161.60000000000002px;
  height: 245.60000000000002px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-logo-img-container .img-container img {
  max-width: 160px;
  max-height: 160px;
}
.cp-content-tab-body.edit-item .thumbnail {
  padding-bottom: 10px;
  margin-bottom: 0px;
  height: 300px;
}
.cp-content-tab-body.edit-item .thumbnail .caption h3,
.cp-content-tab-body.edit-item .thumbnail .caption h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cp-content-tab-body.edit-item .thumbnail .img-container {
  position: relative;
/*background-color #eee*/
  -webkit-box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
}
.cp-content-tab-body.edit-item .thumbnail:hover .thmb-img-panel-container {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 10px;
}
.cp-content-tab-body.edit-item .thumbnail .thmb-img-panel-container {
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-transition: opacity 0.2s linear, top 0.2s linear;
  -moz-transition: opacity 0.2s linear, top 0.2s linear;
  -o-transition: opacity 0.2s linear, top 0.2s linear;
  -ms-transition: opacity 0.2s linear, top 0.2s linear;
  transition: opacity 0.2s linear, top 0.2s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.cp-content-tab-body.edit-item .thumbnail .thmb-img-panel-container .btn-group {
  position: relative;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel {
  margin-bottom: 0;
  border-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
}
.cp-content-tab-body.edit-item .panel .panel-heading {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset, 0px -2px 2px 0px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset, 0px -2px 2px 0px rgba(0,0,0,0.2) inset;
  background-image: url("/images/subtle-bg/textured_paper.png");
  background-repeat: repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .cp-content-tab-body.edit-item .panel .panel-heading {
    background-image: url("/images/subtle-bg/textured_paper@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.cp-content-tab-body.edit-item .panel .panel-heading .btn-group {
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel .panel-body {
/*padding-left 0*/
/*padding-right 0*/
  padding-top: 0;
  position: relative;
}
.cp-content-tab-body.edit-item .panel .panel-body .row {
  padding: 0px 0 20px 0;
  border-top: 2px dotted rgba(128,128,128,0.5);
  position: relative;
}
.cp-content-tab-body.edit-item .panel .panel-body .row:first-child {
  border-top-color: transparent;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell {
  position: relative;
  -webkit-box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  min-height: 250px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell:last-child {
  float: right;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell.col-md-6 {
  width: 49%;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell.col-md-6 img {
  max-width: 422px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell.col-md-12 img {
  max-width: 861px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell:hover .row-cell-panel-container {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 10px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-panel-container {
  width: 100%;
  margin: 5px 0;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-panel-container .btn-group {
  position: relative;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell-panel-container {
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-transition: opacity 0.2s linear, top 0.2s linear;
  -moz-transition: opacity 0.2s linear, top 0.2s linear;
  -o-transition: opacity 0.2s linear, top 0.2s linear;
  -ms-transition: opacity 0.2s linear, top 0.2s linear;
  transition: opacity 0.2s linear, top 0.2s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 10;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell-panel-container .btn-group {
  position: relative;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell-content {
  position: relative;
  z-index: 0;
}
.cp-content-tab-body.works {
  margin-top: 0 !important;
  margin-bottom: 50px;
}
.cp-content-tab-body.works .cp-content-item {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.works .cp-content-item:hover {
  background-color: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  border: 4px solid rgba(66,139,202,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.works .cp-content-item:hover .cp-content-item-container:before {
  background-image: url("/images/grippy1_large.png");
  cursor: move;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .cp-content-tab-body.works .cp-content-item:hover .cp-content-item-container:before {
    background-image: url("/images/grippy1_large@2x.png");
    -webkit-background-size: 5px 30px;
    -moz-background-size: 5px 30px;
    background-size: 5px 30px;
  }
}
.cp-content-tab-body.works .cp-content-item .cp-content-item-container {
  height: 34px;
}
.cp-content-tab-body.works .cp-content-item .cp-content-item-container:before {
  content: "";
  display: block;
  background: none;
  width: 10px;
  height: 34px;
  float: left;
  background-repeat: repeat-y;
}
.cp-content-tab-body.works .cp-content-item .cp-content-item-container .cp-content-item-title {
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}
.cp-content-tab-body.works .cp-content-item .cp-content-item-container .cp-content-item-title .form-group {
  width: 750px;
}
.cp-content-tab-body.works .cp-content-item .cp-content-item-container .cp-content-item-title .form-group .cp-data-music-title {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cp-content-tab-body.works .cp-content-item .cp-content-item-container .cp-content-item-title .form-group .cp-data-music-title:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  border-color: #ccc;
}
.cp-content-tab-body.works .cp-content-item .cp-content-item-container .cp-content-item-title .form-group .cp-data-music-title:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(102,175,233,0.6);
  box-shadow: 0 0 8px rgba(102,175,233,0.6);
  border-color: #66afe9;
}
.cp-content-tab-body.edit-item {
  border: 4px solid rgba(66,139,202,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  margin-bottom: 20px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-thmb-img-container .img-container {
  width: 161.60000000000002px;
  height: 245.60000000000002px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-thmb-img-container .img-container img {
  max-width: 161.60000000000002px;
  max-height: 245.60000000000002px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-logo-img-container .img-container {
  width: 161.60000000000002px;
  height: 245.60000000000002px;
}
.cp-content-tab-body.edit-item .cp-data-work-item-logo-img-container .img-container img {
  max-width: 160px;
  max-height: 160px;
}
.cp-content-tab-body.edit-item .thumbnail {
  padding-bottom: 10px;
  margin-bottom: 0px;
  height: 300px;
}
.cp-content-tab-body.edit-item .thumbnail .caption h3,
.cp-content-tab-body.edit-item .thumbnail .caption h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cp-content-tab-body.edit-item .thumbnail .img-container {
  position: relative;
/*background-color #eee*/
  -webkit-box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
}
.cp-content-tab-body.edit-item .thumbnail:hover .thmb-img-panel-container {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 10px;
}
.cp-content-tab-body.edit-item .thumbnail .thmb-img-panel-container {
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-transition: opacity 0.2s linear, top 0.2s linear;
  -moz-transition: opacity 0.2s linear, top 0.2s linear;
  -o-transition: opacity 0.2s linear, top 0.2s linear;
  -ms-transition: opacity 0.2s linear, top 0.2s linear;
  transition: opacity 0.2s linear, top 0.2s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.cp-content-tab-body.edit-item .thumbnail .thmb-img-panel-container .btn-group {
  position: relative;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel {
  margin-bottom: 0;
  border-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
}
.cp-content-tab-body.edit-item .panel .panel-heading {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #ddd;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset, 0px -2px 2px 0px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset, 0px -2px 2px 0px rgba(0,0,0,0.2) inset;
  background-image: url("/images/subtle-bg/textured_paper.png");
  background-repeat: repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .cp-content-tab-body.edit-item .panel .panel-heading {
    background-image: url("/images/subtle-bg/textured_paper@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.cp-content-tab-body.edit-item .panel .panel-heading .btn-group {
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel .panel-body {
/*padding-left 0*/
/*padding-right 0*/
  padding-top: 0;
  position: relative;
}
.cp-content-tab-body.edit-item .panel .panel-body .row {
  padding: 0px 0 20px 0;
  border-top: 2px dotted rgba(128,128,128,0.5);
  position: relative;
}
.cp-content-tab-body.edit-item .panel .panel-body .row:first-child {
  border-top-color: transparent;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell {
  position: relative;
  -webkit-box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
  box-shadow: 0px 0px 108px 21px rgba(0,0,0,0.2) inset;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  min-height: 250px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell:last-child {
  float: right;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell.col-md-6 {
  width: 49%;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell.col-md-6 img {
  max-width: 422px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell.col-md-12 img {
  max-width: 861px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell:hover .row-cell-panel-container {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 10px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-panel-container {
  width: 100%;
  margin: 5px 0;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-panel-container .btn-group {
  position: relative;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell-panel-container {
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-transition: opacity 0.2s linear, top 0.2s linear;
  -moz-transition: opacity 0.2s linear, top 0.2s linear;
  -o-transition: opacity 0.2s linear, top 0.2s linear;
  -ms-transition: opacity 0.2s linear, top 0.2s linear;
  transition: opacity 0.2s linear, top 0.2s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 10;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell-panel-container .btn-group {
  position: relative;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.edit-item .panel .panel-body .row .row-cell-content {
  position: relative;
  z-index: 0;
}
.cp-content-tab-body.art-department {
  margin-top: 0 !important;
  margin-bottom: 50px;
}
.cp-content-tab-body.art-department .cp-content-group:first-child .cp-content-group-header h3 {
  margin-top: 10px;
}
.cp-content-tab-body.art-department .cp-content-item {
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 150px;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.3);
  overflow: hidden;
}
.cp-content-tab-body.art-department .cp-content-item:hover {
  border: none;
  background-color: transparent;
  overflow: visible;
}
.cp-content-tab-body.art-department .cp-content-item .cp-content-item-container {
  position: absolute;
  width: 142px;
  height: 142px;
  padding: 5px;
  overflow: hidden;
  -webkit-transition: height linear 0.2s;
  -moz-transition: height linear 0.2s;
  -o-transition: height linear 0.2s;
  -ms-transition: height linear 0.2s;
  transition: height linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.art-department .cp-content-item .cp-content-item-container:hover {
  cursor: move;
  background-color: rgba(255,255,255,0.95);
  width: 150px;
  height: 200px;
  padding: 5px;
  border: 4px solid rgba(66,139,202,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  z-index: 10;
  overflow: visible;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
}
.cp-content-tab-body.art-department .cp-content-item .cp-content-item-container .cp-content-item-image-container {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 132px;
  height: 132px;
}
.cp-content-tab-body.art-department .cp-content-item .cp-content-item-container .cp-content-item-image-container .cp-content-item-image {
  max-width: 132px;
  max-height: 132px;
}
.cp-content-tab-body.art-department .cp-content-item .cp-content-item-container .cp-content-item-devider {
  width: 100%;
  height: 10px;
}
.cp-content-tab-body.text-pieces {
  margin-bottom: 50px;
}
.cp-content-tab-body.text-pieces .cp-content-item {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
}
.cp-content-tab-body.text-pieces .cp-content-item:hover {
  background-color: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
  border: 4px solid rgba(66,139,202,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container {
  height: 34px;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container:before {
  content: "";
  display: block;
  background: none;
  width: 10px;
  height: 34px;
  float: left;
  background-repeat: repeat-y;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form {
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  padding-left: 0;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content {
  border-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:hover,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
  border-color: #ccc;
}
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-slug:focus,
.cp-content-tab-body.text-pieces .cp-content-item .cp-content-item-container .cp-content-item-form .form-group .cp-data-text-piece-content:focus {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(102,175,233,0.6);
  box-shadow: 0 0 8px rgba(102,175,233,0.6);
  border-color: #66afe9;
}
#cp-data-nav-container {
  position: fixed;
  top: 70px;
  width: 263px;
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#cp-data-nav-container ul {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.8);
}
#cp-data-nav-container ul li:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
#cp-data-nav-container ul li:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
#cp-data-nav-container ul li a {
  -webkit-transition: background-color linear 0.2s;
  -moz-transition: background-color linear 0.2s;
  -o-transition: background-color linear 0.2s;
  -ms-transition: background-color linear 0.2s;
  transition: background-color linear 0.2s;
  -webkit-transition: color linear 0.4s;
  -moz-transition: color linear 0.4s;
  -o-transition: color linear 0.4s;
  -ms-transition: color linear 0.4s;
  transition: color linear 0.4s;
}
#cp-data-container {
  position: relative;
  top: 20px;
}
.body-cp {
  min-height: 900px;
}
.body-padding {
  padding-top: 50px;
}
.body-subtle-bg {
  background-image: url("/images/subtle-bg/seamlesstexture27_500.jpg");
  background-repeat: repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .body-subtle-bg {
    background-image: url("/images/subtle-bg/seamlesstexture27_500@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.cp-content-tab {
  min-height: 600px;
}
.cp-content-tab .cp-content-tab-header,
.cp-content-tab .cp-content-group-header {
  position: relative;
}
.cp-content-tab .cp-content-tab-header .btn-group,
.cp-content-tab .cp-content-group-header .btn-group {
  border: 4px solid rgba(255,255,255,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cp-content-tab .cp-content-tab-body {
  position: relative;
  margin-top: 20px;
}
