@import "nib"

@import "cp/varaibles"

@import "mixins/beaver-status"
@import "mixins/beaver-progressbar"

@import "cp/navigation"
@import "cp/login"
@import "cp/data"

.body-cp
  min-height 900px

.body-padding
  padding-top $navbar-height

.body-subtle-bg
  image "/images/subtle-bg/seamlesstexture27_500.jpg"
  background-repeat repeat

.cp-content-tab
  min-height $cp-content-min-height

  .cp-content-tab-header, .cp-content-group-header
    position relative
    .btn-group
      border $data-nav-border-width solid $data-tab-header-nav-border-color
      border-radius $data-nav-border-radius + $data-nav-border-width

  .cp-content-tab-body
    position relative
    margin-top $data-vertical-gutter

