@import "../js/libs/jquery/plugins/fancybox/jquery.fancybox.css"
@import "site/varaibles"

@import "nib"

@import "mixins/bootstrap-overrides"

@import "site/intro-container"
@import "site/player-container"
@import "site/navigation-container"
@import "site/content-container"
@import "site/index-container"
@import "site/index/about"
@import "site/index/clients"
@import "site/index/contacts"
@import "site/index/art-department"
@import "site/index/refineslide-theme-dark.css"
@import "site/works-container"
@import "site/refine-slide/refineslide"
@import "site/refine-slide/refineslide-theme-dark"

@import "site/jcarousel-skins/index-works"
@import "site/jcarousel-skins/index-creative-archive"

html,body
  background-color #000000

  &>.container:first-child
    /*border: 1px solid red*/
    position: relative
    min-height: 100%

  .container
    width: $content-width
    transition box-shadow linear 0.2s
    padding 0 !important


.glow
  box-shadow 0px 0px 120px 0px $container-shadow-color

#footer-container
  z-index $z-index-content
  /*position absolute*/
  /*bottom 0*/
  .credits
    float right
    padding: 20px
    position: relative
    display: block
    a
      color lighten(#333,20%)




