@import "../js/libs/jquery/plugins/fancybox/jquery.fancybox.css";
.row {
  margin-left: 0;
  margin-right: 0;
}
.navbar {
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar .brand {
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 200;
}
.navbar-inner {
  vertical-align: middle;
  background-color: #000;
}
.navbar-inner .nav li a,
.navbar-inner .nav li a:hover,
.navbar-inner .nav li a:focus {
  background-color: transparent !important;
}
.dropdown-menu {
  float: inherit !important;
  left: inherit !important;
}
.intro #intro-container {
  display: table;
  width: 100%;
}
.intro #intro-container #intro-content {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.intro #intro-container #intro-content .logo-intro {
  background-image: url("/images/logo-intro.png");
  background-repeat: no-repeat;
  width: 334px;
  height: 114px;
  display: block;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .intro #intro-container #intro-content .logo-intro {
    background-image: url("/images/logo-intro@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
#player-container {
  position: fixed;
  top: 74px;
  width: 230px;
  background-color: rgba(0,0,0,0.5);
  font-family: "Gals";
  z-index: 51;
  margin-left: 770px;
}
#player-container .title {
  height: 26px;
  width: 50%;
  color: #010101;
  background-color: #cdcdcd;
  font-size: 17pt;
  line-height: 21pt;
  text-align: center;
  vertical-align: middle;
}
#player-container .list-title {
  color: #fff;
  height: 26px;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  font-size: 12pt;
  line-height: 18pt;
  vertical-align: middle;
  padding-left: 2px;
  cursor: pointer;
}
#player-container .list-title.list-open:after {
  content: '';
  background-image: url("/images/player-arrow-open.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
  right: 4px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #player-container .list-title.list-open:after {
    background-image: url("/images/player-arrow-open@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
#player-container .list-title.list-close:after {
  content: '';
  background-image: url("/images/player-arrow-close.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
  right: 4px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #player-container .list-title.list-close:after {
    background-image: url("/images/player-arrow-close@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
#player-container .list {
  color: #666;
  background-color: rgba(0,0,0,0.5);
  list-style: none;
  margin: 0 !important;
  padding: 5px 0 10px 0px !important;
}
#player-container .list li {
  cursor: pointer;
  padding: 0 0 0px 15px !important;
  line-height: 20px;
  min-height: 20px;
  font-size: 10pt !important;
}
#player-container .list li:before {
  color: #f7239b;
  width: 15px;
  font-family: "FontAwesome";
  font-size: 9pt;
  line-height: 20px;
  content: '\f04b';
  display: inline-block;
  float: float;
  position: absolute;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
}
#player-container .list li[data-playing-state='playing']:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#player-container .list li[data-playing-state='paused']:before {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#sm2-container {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  background-color: transparent;
}
#navigation-container {
  position: fixed;
  top: 0;
  z-index: 50;
}
#navigation-container .navbar-inner {
  padding: 0 !important;
  width: 1000px;
  height: 80px;
}
#navigation-container .navbar-inner a.brand {
  background-image: url("/images/logo-nav.png");
  background-repeat: no-repeat;
  margin: 0 10px 0 10px !important;
  width: 180px;
  height: 61px;
  position: relative;
  top: 9.5px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #navigation-container .navbar-inner a.brand {
    background-image: url("/images/logo-nav@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
#navigation-container .navbar-inner .nav {
  float: right;
  margin: 0 !important;
  font-family: "Gals", Georgia;
  position: relative;
  top: 12px;
  display: table;
}
#navigation-container .navbar-inner .nav li {
  display: table-cell;
  height: 38px;
  vertical-align: middle;
  float: none;
}
#navigation-container .navbar-inner .nav li a {
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  font-size: 13pt;
  line-height: 16pt;
  padding: 10px 11px !important;
  color: #fff;
}
#navigation-container .navbar-inner .nav li a:hover {
  color: #feea02;
}
#navigation-container .navbar-inner .nav li.active a {
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
/*color $nav-item-color-hover !important*/
  color: #feea02;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#nav-works-drop + .dropdown-menu,
#nav-creative-archive-drop + .dropdown-menu {
  border: none !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  top: 57px !important;
  background: -webkit-linear-gradient(top, #efa000 0px, #fce900 12px, #afa101 12px, #feea02 40px);
  background: -moz-linear-gradient(top, #efa000 0px, #fce900 12px, #afa101 12px, #feea02 40px);
  background: -o-linear-gradient(top, #efa000 0px, #fce900 12px, #afa101 12px, #feea02 40px);
  background: -ms-linear-gradient(top, #efa000 0px, #fce900 12px, #afa101 12px, #feea02 40px);
  background: linear-gradient(to bottom, #efa000 0px, #fce900 12px, #afa101 12px, #feea02 40px);
  background-color: #feea02 !important;
}
#nav-works-drop + .dropdown-menu:after,
#nav-creative-archive-drop + .dropdown-menu:after {
  border: none !important;
}
#nav-works-drop + .dropdown-menu li,
#nav-creative-archive-drop + .dropdown-menu li {
  display: block !important;
}
#nav-works-drop + .dropdown-menu li:first-child,
#nav-creative-archive-drop + .dropdown-menu li:first-child {
  position: relative;
  margin-top: 8px;
}
#nav-works-drop + .dropdown-menu li a,
#nav-creative-archive-drop + .dropdown-menu li a {
  color: #383a3e !important;
}
#nav-works-drop + .dropdown-menu li a:hover,
#nav-creative-archive-drop + .dropdown-menu li a:hover {
  background-color: #fff !important;
}
#content-container {
  position: relative;
  min-height: 100%;
  z-index: 25;
}
#content-container .top-scroll-fade {
  position: fixed;
  width: 1000px;
  height: 108px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.8), transparent);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.8), transparent);
  background: -o-linear-gradient(top, rgba(0,0,0,0.8), transparent);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.8), transparent);
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
  z-index: 20;
}
.top-nav-underlight {
  position: fixed;
  z-index: 49;
  background-image: url("/images/top-nav-underlight.png");
  background-repeat: no-repeat;
  width: 695px;
  height: 91px;
  top: 80px;
  margin-left: 200px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .top-nav-underlight {
    background-image: url("/images/top-nav-underlight@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
#index-container {
  position: relative;
}
#index-container article {
/*border 1px solid red*/
  color: #fff;
  z-index: 18;
  position: relative;
  min-height: 700px;
}
#index-container article .title {
  position: relative;
  padding-top: 100px;
  z-index: 18;
}
#index-container article .title h2 {
  -webkit-transition: opacity linear 0.2s;
  -moz-transition: opacity linear 0.2s;
  -o-transition: opacity linear 0.2s;
  -ms-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s;
  position: relative;
  font-family: "EncorpadaClassic-ExtraLight";
  font-size: 79pt;
  line-height: 58pt;
  font-weight: 400;
  margin: 0 0 0 59px;
}
#index-container article .underline {
  height: 2px;
  background-color: #fff;
  position: relative;
/*top -24px*/
}
#index-container article .text {
  z-index: 18;
  position: relative;
  top: 24px;
}
#index-container article .text div {
  position: absolute;
}
#index-container article .content {
  position: relative;
  z-index: 18;
}
#index-container .article-title-underlight {
  position: absolute;
  z-index: 10;
  background-image: url("/images/article-title-underlight-full.png");
  background-repeat: no-repeat;
/*background-color rgba(green,0.5)*/
  width: 203px;
  height: 659px;
  top: -67px;
  left: 53px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #index-container .article-title-underlight {
    background-image: url("/images/article-title-underlight-full@2x.png");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.jcarousel-skin-index-works .jcarousel-container {
  position: relative;
  top: 170px;
  left: 0px;
}
.jcarousel-skin-index-creative-archive .jcarousel-container {
  position: relative;
  top: 175px;
  left: 370px;
}
#nav-about section .title,
#nav-about section .text {
  position: relative;
  z-index: 18;
}
#nav-about .video-js {
  position: absolute;
  left: 0px;
  top: 45px;
  z-index: 1;
}
.clients-list {
  position: relative;
  left: 0px;
  top: 200px;
  list-style: none;
/*display table*/
  width: 100%;
  margin: 0 !important;
}
.clients-list img {
/*display table-cell*/
/*vertical-align middle*/
/*min-height 100px*/
/*float left*/
  margin: 10px;
}
.map-marker {
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  color: #666;
  cursor: pointer;
}
.map-marker:hover {
  color: #a3a3a3;
}
.map-marker:active {
  color: #fff;
}
#map-container {
  position: absolute;
  z-index: 60;
  -webkit-box-shadow: 0px 0px 500px 50px rgba(0,0,0,0.8) inset;
  box-shadow: 0px 0px 500px 50px rgba(0,0,0,0.8) inset;
  display: table;
}
#map-container .map {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
#map-container .map .title {
  padding: 0 !important;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-color: #fff;
  width: 656px;
  margin: auto;
  border-bottom: 1px solid #999;
}
#map-container .map .title .close {
  position: relative;
  top: 3px;
  margin-right: 3px;
  cursor: pointer;
}
#map-container .map .title .print {
  position: relative;
  top: 2px;
  cursor: pointer;
}
#map-container .map .image-container {
  margin: auto;
  width: 656px;
}
#phone-katya {
  left: 415px;
  top: 166px;
  position: absolute;
  z-index: 25;
  cursor: pointer;
/*border 1px solid red*/
}
#phone-katya img {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
#phone-katya .title {
  position: relative;
  font: 16pt/17pt MyriadPro-Regular;
  color: #666;
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  -webkit-transition: text-shadow linear 0.2s;
  -moz-transition: text-shadow linear 0.2s;
  -o-transition: text-shadow linear 0.2s;
  -ms-transition: text-shadow linear 0.2s;
  transition: text-shadow linear 0.2s;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
  z-index: $z-index-phone-title-normal;
}
#phone-katya:hover {
  z-index: 26;
}
#phone-katya:hover .title {
  color: #fff;
  text-shadow: 0px 0px 2px #000, 0px 0px 10px #fff;
}
#phone-katya:hover .title:active {
  color: #fff;
}
#phone-katya .title {
  left: 230px;
  top: -151px;
  width: 120px;
}
#phone-lilia {
  left: 107px;
  top: 335px;
  position: absolute;
  z-index: 25;
  cursor: pointer;
/*border 1px solid red*/
}
#phone-lilia img {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
#phone-lilia .title {
  position: relative;
  font: 16pt/17pt MyriadPro-Regular;
  color: #666;
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  -webkit-transition: text-shadow linear 0.2s;
  -moz-transition: text-shadow linear 0.2s;
  -o-transition: text-shadow linear 0.2s;
  -ms-transition: text-shadow linear 0.2s;
  transition: text-shadow linear 0.2s;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
  z-index: $z-index-phone-title-normal;
}
#phone-lilia:hover {
  z-index: 26;
}
#phone-lilia:hover .title {
  color: #fff;
  text-shadow: 0px 0px 2px #000, 0px 0px 10px #fff;
}
#phone-lilia:hover .title:active {
  color: #fff;
}
#phone-lilia .title {
  left: 0px;
  top: -66px;
  width: 160px;
}
#phone-margo {
  left: 659px;
  top: 171px;
  position: absolute;
  z-index: 25;
  cursor: pointer;
/*border 1px solid red*/
}
#phone-margo img {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
#phone-margo .title {
  position: relative;
  font: 16pt/17pt MyriadPro-Regular;
  color: #666;
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  -webkit-transition: text-shadow linear 0.2s;
  -moz-transition: text-shadow linear 0.2s;
  -o-transition: text-shadow linear 0.2s;
  -ms-transition: text-shadow linear 0.2s;
  transition: text-shadow linear 0.2s;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
  z-index: $z-index-phone-title-normal;
}
#phone-margo:hover {
  z-index: 26;
}
#phone-margo:hover .title {
  color: #fff;
  text-shadow: 0px 0px 2px #000, 0px 0px 10px #fff;
}
#phone-margo:hover .title:active {
  color: #fff;
}
#phone-margo .title {
  left: 162px;
  top: -26px;
  width: 160px;
}
#phone-tan {
  left: 2px;
  top: 93px;
  position: absolute;
  z-index: 25;
  cursor: pointer;
/*border 1px solid red*/
}
#phone-tan img {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
#phone-tan .title {
  position: relative;
  font: 16pt/17pt MyriadPro-Regular;
  color: #666;
  -webkit-transition: color linear 0.2s;
  -moz-transition: color linear 0.2s;
  -o-transition: color linear 0.2s;
  -ms-transition: color linear 0.2s;
  transition: color linear 0.2s;
  -webkit-transition: text-shadow linear 0.2s;
  -moz-transition: text-shadow linear 0.2s;
  -o-transition: text-shadow linear 0.2s;
  -ms-transition: text-shadow linear 0.2s;
  transition: text-shadow linear 0.2s;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
  z-index: $z-index-phone-title-normal;
}
#phone-tan:hover {
  z-index: 26;
}
#phone-tan:hover .title {
  color: #fff;
  text-shadow: 0px 0px 2px #000, 0px 0px 10px #fff;
}
#phone-tan:hover .title:active {
  color: #fff;
}
#phone-tan .title {
  left: 251px;
  top: -55px;
  width: 160px;
}
.modal-photo-container {
  position: fixed;
  display: none;
  left: 0px;
  background-color: rgba(0,0,0,0.95);
  z-index: 40;
}
.modal-photo-container .title {
  position: relative;
  top: 86px;
  margin: auto auto 0;
  width: 993px;
  z-index: 41;
  left: 7px;
  color: #fff;
  text-shadow: 0px 0px 2px #000, 0px 0px 10px #fff;
}
.modal-photo-container .title .close {
/*position: relative*/
  float: right;
  color: #fff;
  position: relative;
  top: -18px;
}
@import "site/index/refineslide-theme-dark.css";
#works-container {
  position: relative;
  min-height: 100%;
  z-index: 25;
}
#works-container .top-scroll-fade {
  position: fixed;
  width: 1000px;
  height: 40px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4), transparent);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4), transparent);
  background: -o-linear-gradient(top, rgba(0,0,0,0.4), transparent);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.4), transparent);
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), transparent);
  z-index: 20;
}
.work {
  -webkit-transition: box-shadow linear 0.5s;
  -moz-transition: box-shadow linear 0.5s;
  -o-transition: box-shadow linear 0.5s;
  -ms-transition: box-shadow linear 0.5s;
  transition: box-shadow linear 0.5s;
  margin: 0 !important;
  padding: 0 0 60px 0;
  background-color: #fff;
  width: 100%;
  min-height: 800px !important;
  position: relative;
}
.work table {
  border-spacing: 10px;
}
.work .row {
  padding: 40px 0px;
  position: relative;
  height: 100%;
}
.work .row .row-cell {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.work .row .row-cell.work-item-description {
  padding: 30px;
  text-align: left;
  font-family: 'MyriadPro-Regular';
}
.work .row .row-cell.col-md-6 img {
  max-width: 480px;
}
.work .row .row-cell.col-md-12 img {
  max-width: 980px;
}
.work-in-out-glow {
  -webkit-box-shadow: inset 0px 0px 140px 100px rgba(0,0,0,0.75), inset 0px -350px 140px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 140px 100px rgba(0,0,0,0.75), inset 0px -350px 140px 0px rgba(0,0,0,0.75);
}
.rs-wrap:after,
.rs-slider:after,
.rs-thumb-wrap:after,
.rs-arrows:after,
.rs-caption:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  line-height: 0;
  visibility: hidden;
}
.rs-wrap {
  position: relative;
  max-width: 100%;
  height: 100%;
  margin: auto;
}
.rs-slide-bg {
  *zoom: 1;
  height: 80%;
  display: table;
}
.rs-slider {
  height: 600px;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.rs-slider .rs-slide-image {
  position: relative;
  margin: auto;
}
.rs-slider > li {
  list-style: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 100%;
/*height: 100%*/
  margin: 0 -100% 0 0;
  padding: 0;
  float: left;
  position: relative;
}
.rs-slider > li img {
  display: block;
  max-width: 100%;
  max-height: 600px;
  -ms-interpolation-mode: bicubic;
}
.rs-slider > li > a {
  display: block;
  padding: 0;
  background: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.rs-thumb-wrap {
  *zoom: 1;
  width: 100%;
}
.rs-thumb-wrap a {
  display: block;
  vertical-align: top;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
.rs-thumb-wrap a:first-child {
  margin-left: 0 !important;
}
.rs-thumb-wrap a img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  -ms-interpolation-mode: bicubic;
}
.rs-arrows .rs-next,
.rs-arrows .rs-prev {
  z-index: 1;
}
.rs-arrows:hover .rs-next,
.rs-arrows:hover .rs-prev {
  z-index: 2;
}
.rs-caption {
  position: absolute;
  max-height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}
.rs-caption.rs-top-left {
  top: 0;
  bottom: auto;
}
.rs-caption.rs-top-right {
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
}
.rs-caption.rs-bottom-left {
  bottom: 0;
  left: 0;
}
.rs-caption.rs-bottom-right {
  right: 0;
  left: auto;
  border-bottom: none;
  border-right: none;
}
.rs-caption.rs-top {
  top: 0;
  bottom: auto;
  width: 100% !important;
}
.rs-caption.rs-bottom {
  width: 100% !important;
}
.rs-caption.rs-left {
  top: 0;
  height: 100%;
}
.rs-caption.rs-right {
  top: 0;
  left: auto;
  right: 0;
  height: 100%;
}
.rs-grid {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none;
}
.rs-gridlet {
  position: absolute;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.rs-slide-bg {
/*padding: 10px*/
  background: rgba(0,0,0,0.1);
/*border-radius 5px*/
/*box-shadow 0 1px 1px rgba(0, 0, 0, .15) inset*/
}
.rs-slider > li img {
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.rs-thumb-wrap {
  margin: 21px auto auto;
  position: absolute;
  bottom: 0px !important;
  border-top: 1px solid rgba(255,255,255,0.1) !important;
  background-color: rgba(0,0,0,0.6);
  height: 180px;
}
.rs-thumb-wrap a {
  height: 80px;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  padding: 8px;
  *padding: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.rs-thumb-wrap a:hover,
.rs-thumb-wrap a.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.rs-thumb-wrap a:first-child {
  margin-left: 0 !important;
}
.rs-arrows {
  float: left;
}
.rs-arrows .rs-next,
.rs-arrows .rs-prev {
  width: 42px;
  height: 42px;
  display: block;
  float: left;
  margin: 10px 0 10px 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  padding: 0 2px 2px 0;
  border: 1px solid #35393b;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid #313437;
  border-bottom: 1px solid rgba(0,0,0,0.35);
  background: rgba(0,0,0,0.1);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  background: -moz-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  background: -o-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  background: -ms-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 1px rgba(255,255,255,0) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.1), 0 1px 1px rgba(255,255,255,0) inset;
}
.rs-arrows .rs-next:active,
.rs-arrows .rs-prev:active {
  border-color: #292b2d;
  border-color: rgba(0,0,0,0.45);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.7) inset;
  box-shadow: 0 1px 6px rgba(0,0,0,0.7) inset;
}
.rs-arrows:hover .rs-next,
.rs-arrows:hover .rs-prev {
  border: 1px solid #313336;
  border: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid #292b2d;
  border-bottom: 1px solid rgba(0,0,0,0.45);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 1px 1px rgba(255,255,255,0.05) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 1px 1px rgba(255,255,255,0.05) inset;
}
.rs-arrows .rs-next:before,
.rs-arrows .rs-prev:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #c6c8c9;
  border-left: 10px solid rgba(255,255,255,0.7);
  position: absolute;
  top: 11px;
  left: 16px;
}
.rs-arrows .rs-next {
  border-left: 0 !important;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.rs-arrows .rs-next:hover:before {
  border-left: 10px solid #fff;
}
.rs-arrows .rs-next:active:before {
  border-left: 10px solid #8acdf3;
}
.rs-arrows .rs-prev:hover:before {
  border-right: 10px solid #fff;
}
.rs-arrows .rs-prev:active:before {
  border-right: 10px solid #8acdf3;
}
.rs-arrows .rs-prev:before {
  border-left: none;
  border-right: 10px solid #c6c8c9;
  border-right: 10px solid rgba(255,255,255,0.7);
}
.rs-caption {
  padding: 20px;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  border: 1px solid #000;
  background: rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.45), rgba(0,0,0,0.7));
  background: -moz-linear-gradient(top, rgba(0,0,0,0.45), rgba(0,0,0,0.7));
  background: -o-linear-gradient(top, rgba(0,0,0,0.45), rgba(0,0,0,0.7));
  background: -ms-linear-gradient(top, rgba(0,0,0,0.45), rgba(0,0,0,0.7));
  background: linear-gradient(to bottom, rgba(0,0,0,0.45), rgba(0,0,0,0.7));
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.12) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.12) inset;
}
.rs-caption p {
  color: #fff;
  margin-bottom: 0;
}
.rs-caption.rs-top-left {
  -webkit-border-radius: 5px 0 5px 0;
  border-radius: 5px 0 5px 0;
  border-top: none;
  border-left: none;
}
.rs-caption.rs-bottom-right {
  -webkit-border-radius: 5px 0 5px 0;
  border-radius: 5px 0 5px 0;
  border-bottom: none;
  border-right: none;
}
.rs-caption.rs-top-right {
  -webkit-border-radius: 0 5px 0 5px;
  border-radius: 0 5px 0 5px;
  border-top: none;
  border-right: none;
}
.rs-caption.rs-bottom-left {
  -webkit-border-radius: 0 5px 0 5px;
  border-radius: 0 5px 0 5px;
  border-bottom: none;
  border-left: none;
}
.rs-caption.rs-bottom {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.rs-caption.rs-top {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.rs-caption.rs-left {
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.rs-caption.rs-right {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
.rs-grid {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.rs-gridlet.rs-top-left {
  border-top-left-radius: 5px;
}
.rs-gridlet.rs-top-right {
  border-top-right-radius: 5px;
}
.rs-gridlet.rs-bottom-left {
  border-bottom-left-radius: 5px;
}
.rs-gridlet.rs-bottom-right {
  border-bottom-right-radius: 5px;
}
.jcarousel-skin-index-works .jcarousel-container,
.jcarousel-skin-index-works .jcarousel-container-horizontal {
  width: 1000px;
  padding: 0;
}
.jcarousel-skin-index-works .jcarousel-clip {
  overflow: hidden;
}
.jcarousel-skin-index-works .jcarousel-clip-horizontal {
  width: 1000px;
  height: 307px;
}
.jcarousel-skin-index-works .jcarousel-item {
  width: 202px;
  height: 307px;
}
.jcarousel-skin-index-works .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 1px;
}
.jcarousel-skin-index-works .jcarousel-item-horizontal a {
  width: 202px;
  height: 307px;
  cursor: pointer;
}
.jcarousel-skin-index-works .jcarousel-item-horizontal a::before {
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  content: '';
  -webkit-box-shadow: inset 0px 0px 40px 1px rgba(0,0,0,0.75), inset 0px -50px 40px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 40px 1px rgba(0,0,0,0.75), inset 0px -50px 40px 0px rgba(0,0,0,0.75);
  width: 204px;
  height: 309px;
  position: absolute;
}
.jcarousel-skin-index-works .jcarousel-item-horizontal a:hover::before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.jcarousel-skin-index-works .jcarousel-item-horizontal a img {
  width: 202px;
  height: 307px;
  border: 1px solid #545454;
}
.jcarousel-skin-index-works .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}
.jcarousel-skin-index-works .jcarousel-next-horizontal {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 307px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.65);
  border-left: 1px solid rgba(0,0,0,0.8);
}
.jcarousel-skin-index-works .jcarousel-next-horizontal::after {
  content: '\f101';
  font-family: FontAwesome;
  font-size: 42pt;
  line-height: 307px;
  vertical-align: middle;
  right: 1px;
  position: absolute;
  -webkit-transition: color;
  -moz-transition: color;
  -o-transition: color;
  -ms-transition: color;
  transition: color;
  color: #998f92;
}
.jcarousel-skin-index-works .jcarousel-next-horizontal:hover::after {
  color: #c2bcbe;
}
.jcarousel-skin-index-works .jcarousel-next-horizontal:active::after,
.jcarousel-skin-index-works .jcarousel-next-horizontal:focus::after {
  color: #6c6366;
}
.jcarousel-skin-index-works .jcarousel-next-disabled-horizontal {
  cursor: default;
}
.jcarousel-skin-index-works .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-index-works .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-index-works .jcarousel-next-disabled-horizontal:active {
  cursor: default;
}
.jcarousel-skin-index-works .jcarousel-prev-horizontal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 307px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.65);
  border-right: 1px solid rgba(0,0,0,0.8);
}
.jcarousel-skin-index-works .jcarousel-prev-horizontal::after {
  content: '\f100';
  font-family: FontAwesome;
  font-size: 42pt;
  line-height: 307px;
  vertical-align: middle;
  left: 1px;
  position: relative;
  -webkit-transition: color;
  -moz-transition: color;
  -o-transition: color;
  -ms-transition: color;
  transition: color;
  color: #998f92;
}
.jcarousel-skin-index-works .jcarousel-prev-horizontal:hover::after {
  color: #c2bcbe;
}
.jcarousel-skin-index-works .jcarousel-prev-horizontal:active::after,
.jcarousel-skin-index-works .jcarousel-prev-horizontal:focus::after {
  color: #6c6366;
}
.jcarousel-skin-index-works .jcarousel-prev-disabled-horizontal {
  cursor: default;
  background-position: -96px 0;
}
.jcarousel-skin-index-works .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-index-works .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-index-works .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
.jcarousel-skin-index-creative-archive .jcarousel-container,
.jcarousel-skin-index-creative-archive .jcarousel-container-horizontal {
  width: 610px;
  padding: 0;
}
.jcarousel-skin-index-creative-archive .jcarousel-clip {
  overflow: hidden;
}
.jcarousel-skin-index-creative-archive .jcarousel-clip-horizontal {
  width: 610px;
  height: 307px;
}
.jcarousel-skin-index-creative-archive .jcarousel-item {
  width: 202px;
  height: 307px;
}
.jcarousel-skin-index-creative-archive .jcarousel-item-horizontal {
  margin-left: 0;
  margin-right: 1px;
}
.jcarousel-skin-index-creative-archive .jcarousel-item-horizontal a {
  width: 202px;
  height: 307px;
  cursor: pointer;
}
.jcarousel-skin-index-creative-archive .jcarousel-item-horizontal a::before {
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  content: '';
  -webkit-box-shadow: inset 0px 0px 40px 1px rgba(0,0,0,0.75), inset 0px -50px 40px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 40px 1px rgba(0,0,0,0.75), inset 0px -50px 40px 0px rgba(0,0,0,0.75);
  width: 204px;
  height: 309px;
  position: absolute;
}
.jcarousel-skin-index-creative-archive .jcarousel-item-horizontal a:hover::before {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.jcarousel-skin-index-creative-archive .jcarousel-item-horizontal a img {
  width: 202px;
  height: 307px;
  border: 1px solid #545454;
}
.jcarousel-skin-index-creative-archive .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}
.jcarousel-skin-index-creative-archive .jcarousel-next-horizontal {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 307px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.65);
  border-left: 1px solid rgba(0,0,0,0.8);
}
.jcarousel-skin-index-creative-archive .jcarousel-next-horizontal::after {
  content: '\f101';
  font-family: FontAwesome;
  font-size: 42pt;
  line-height: 307px;
  vertical-align: middle;
  right: 1px;
  position: absolute;
  -webkit-transition: color;
  -moz-transition: color;
  -o-transition: color;
  -ms-transition: color;
  transition: color;
  color: #998f92;
}
.jcarousel-skin-index-creative-archive .jcarousel-next-horizontal:hover::after {
  color: #c2bcbe;
}
.jcarousel-skin-index-creative-archive .jcarousel-next-horizontal:active::after,
.jcarousel-skin-index-creative-archive .jcarousel-next-horizontal:focus::after {
  color: #6c6366;
}
.jcarousel-skin-index-creative-archive .jcarousel-next-disabled-horizontal {
  cursor: default;
}
.jcarousel-skin-index-creative-archive .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-index-creative-archive .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-index-creative-archive .jcarousel-next-disabled-horizontal:active {
  cursor: default;
}
.jcarousel-skin-index-creative-archive .jcarousel-prev-horizontal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 307px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.65);
  border-right: 1px solid rgba(0,0,0,0.8);
}
.jcarousel-skin-index-creative-archive .jcarousel-prev-horizontal::after {
  content: '\f100';
  font-family: FontAwesome;
  font-size: 42pt;
  line-height: 307px;
  vertical-align: middle;
  left: 1px;
  position: relative;
  -webkit-transition: color;
  -moz-transition: color;
  -o-transition: color;
  -ms-transition: color;
  transition: color;
  color: #998f92;
}
.jcarousel-skin-index-creative-archive .jcarousel-prev-horizontal:hover::after {
  color: #c2bcbe;
}
.jcarousel-skin-index-creative-archive .jcarousel-prev-horizontal:active::after,
.jcarousel-skin-index-creative-archive .jcarousel-prev-horizontal:focus::after {
  color: #6c6366;
}
.jcarousel-skin-index-creative-archive .jcarousel-prev-disabled-horizontal {
  cursor: default;
  background-position: -96px 0;
}
.jcarousel-skin-index-creative-archive .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-index-creative-archive .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-index-creative-archive .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
html,
body {
  background-color: #000;
}
html>.container:first-child,
body>.container:first-child {
/*border: 1px solid red*/
  position: relative;
  min-height: 100%;
}
html .container,
body .container {
  width: 1000px;
  -webkit-transition: box-shadow linear 0.2s;
  -moz-transition: box-shadow linear 0.2s;
  -o-transition: box-shadow linear 0.2s;
  -ms-transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  padding: 0 !important;
}
.glow {
  -webkit-box-shadow: 0px 0px 120px 0px rgba(186,186,186,0.35);
  box-shadow: 0px 0px 120px 0px rgba(186,186,186,0.35);
}
#footer-container {
  z-index: 25;
/*position absolute*/
/*bottom 0*/
}
#footer-container .credits {
  float: right;
  padding: 20px;
  position: relative;
  display: block;
}
#footer-container .credits a {
  color: #5c5c5c;
}
