@import "../js/libs/bootstrap/css/bootstrap.css"
@import "../js/libs/font-awesome/css/font-awesome.css"

@import "nib"
@import "mixins/fonts"
@import "mixins/mixin"

.no-padding {padding: 0 !important}
.no-margin {margin: 0 !important}

html,body
    height: 100%
    margin:0
    padding:0
    font: 16px Arial !important

    &>.container:first-child
        /*border: 1px solid red*/
        position: relative
        min-height: 100%

    .container
      width: $content-width
      padding 0 !important

.padding-top
  padding-top 80px


a
  outline none !important
  &:focus
    outline none !important

.page
  .title
    padding: 20px
  .content
    padding: 20px
    text-align: justify

img
  &.lazy[data-src]
    image "/images/ajax-loaders/104_star_one_24.gif"
    background-position center center
    background-repeat no-repeat

.no-padding-right
  padding-right 0 !important

.unselectable
  block-selection()

