@import "../js/libs/bootstrap/css/bootstrap.css";
@import "../js/libs/font-awesome/css/font-awesome.css";
@font-face {
  font-family: 'Gals';
  src: url("../fonts/Gals.eot"), url("../fonts/Gals.otf") format('otf'), url("../fonts/Gals.svg") format('svg'), url("../fonts/Gals.woff") format('woff'), url("../fonts/Gals.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncorpadaClassic-Regular';
  src: url("../fonts/EncorpadaClassic-Regular.eot"), url("../fonts/EncorpadaClassic-Regular.otf") format('otf'), url("../fonts/EncorpadaClassic-Regular.svg") format('svg'), url("../fonts/EncorpadaClassic-Regular.woff") format('woff'), url("../fonts/EncorpadaClassic-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncorpadaClassic-RegularItalic';
  src: url("../fonts/EncorpadaClassic-RegularItalic.eot"), url("../fonts/EncorpadaClassic-RegularItalic.otf") format('otf'), url("../fonts/EncorpadaClassic-RegularItalic.svg") format('svg'), url("../fonts/EncorpadaClassic-RegularItalic.woff") format('woff'), url("../fonts/EncorpadaClassic-RegularItalic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncorpadaClassic-Bold';
  src: url("../fonts/EncorpadaClassic-Bold.eot"), url("../fonts/EncorpadaClassic-Bold.otf") format('otf'), url("../fonts/EncorpadaClassic-Bold.svg") format('svg'), url("../fonts/EncorpadaClassic-Bold.woff") format('woff'), url("../fonts/EncorpadaClassic-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncorpadaClassic-SemiBold';
  src: url("../fonts/EncorpadaClassic-SemiBold.eot"), url("../fonts/EncorpadaClassic-SemiBold.otf") format('otf'), url("../fonts/EncorpadaClassic-SemiBold.svg") format('svg'), url("../fonts/EncorpadaClassic-SemiBold.woff") format('woff'), url("../fonts/EncorpadaClassic-SemiBold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncorpadaClassic-ExtraLight';
  src: url("../fonts/EncorpadaClassic-ExtraLight.eot"), url("../fonts/EncorpadaClassic-ExtraLight.otf") format('otf'), url("../fonts/EncorpadaClassic-ExtraLight.svg") format('svg'), url("../fonts/EncorpadaClassic-ExtraLight.woff") format('woff'), url("../fonts/EncorpadaClassic-ExtraLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EncorpadaClassic-Light';
  src: url("../fonts/EncorpadaClassic-Light.eot"), url("../fonts/EncorpadaClassic-Light.otf") format('otf'), url("../fonts/EncorpadaClassic-Light.svg") format('svg'), url("../fonts/EncorpadaClassic-Light.woff") format('woff'), url("../fonts/EncorpadaClassic-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("../fonts/MyriadPro-Regular.eot"), url("../fonts/MyriadPro-Regular.otf") format('otf'), url("../fonts/MyriadPro-Regular.svg") format('svg'), url("../fonts/MyriadPro-Regular.woff") format('woff'), url("../fonts/MyriadPro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px Arial !important;
}
html>.container:first-child,
body>.container:first-child {
/*border: 1px solid red*/
  position: relative;
  min-height: 100%;
}
html .container,
body .container {
  width: $content-width;
  padding: 0 !important;
}
.padding-top {
  padding-top: 80px;
}
a {
  outline: none !important;
}
a:focus {
  outline: none !important;
}
.page .title {
  padding: 20px;
}
.page .content {
  padding: 20px;
  text-align: justify;
}
img.lazy[data-src] {
  background-image: url("/images/ajax-loaders/104_star_one_24.gif");
  background-position: center center;
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  img.lazy[data-src] {
    background-image: url("/images/ajax-loaders/104_star_one_24@2x.gif");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.no-padding-right {
  padding-right: 0 !important;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
