#main-navbar-container {
  background-color: $main-navbar-bg-gr-bt-color;
  image: 'images/white-space.png' repeat-x 0 $iWhiteLineTop;
}
#main-navbar-item-container .nav-item .nav-item-line-up {
  background: url("images/sprites.png") 0 -268px;
}
#main-navbar-item-container .nav-item .nav-item-line-down {
  background: $main-navbar-bg-gr-bt-color url("images/sprites.png") 0 -260px;
}
#main-navbar-logo {
  background: $main-navbar-bg-gr-bt-color url("images/jvpic-logo.png") no-repeat center center;
}
