@import "./works/item"

.cp-content-tab-body.art-department
  margin-top 0 !important
  margin-bottom 50px
  .cp-content-group:first-child
    .cp-content-group-header
      h3
        margin-top 10px

  .cp-content-item

    display inline-block
    margin $data-logo-item-margin

    width $data-logo-item-width
    height $data-logo-item-height

    border $data-nav-border-width solid $data-tab-header-nav-border-color
    border-radius $data-nav-border-radius + $data-nav-border-width
    background-color $data-logo-item-bg

    overflow hidden

    &:hover
      border none
      background-color transparent
      overflow visible

    .cp-content-item-container
      position absolute
      width $data-logo-item-width - ($data-nav-border-width * 2)
      height $data-logo-item-height - ($data-nav-border-width * 2)

      padding $data-logo-item-padding

      overflow hidden

      transition height linear 0.2s
      transition box-shadow linear 0.2s

      &:hover
        cursor move
        background-color $data-logo-item-hover-bg
        width $data-logo-item-width
        height $data-logo-item-hover-height

        padding $data-logo-item-padding

        border $data-nav-border-width solid $data-logo-item-border-hover-color
        border-radius $data-nav-border-radius + $data-nav-border-width
        z-index $data-logo-item-hover-z-idx
        overflow visible
        box-shadow 0px 2px 3px 2px rgba(black,0.3)

      .cp-content-item-image-container
        display table-cell
        vertical-align middle
        position relative
        width $data-logo-img-max-width
        height $data-logo-img-max-height

        .cp-content-item-image
          max-width $data-logo-img-max-width
          max-height $data-logo-img-max-height

      .cp-content-item-devider
        width 100%
        height $data-logo-item-padding * 2

