
.cp-content-tab-body.logos
  margin-bottom 50px

  .ui-sortable-helper
    overflow hidden !important
    height $data-logo-item-height !important
    border $data-nav-border-width solid $data-logo-item-border-hover-color !important
    border-radius $data-nav-border-radius + $data-nav-border-width !important
    background-color $data-logo-item-bg !important
    .cp-content-item-container
      background-color transparent !important
      width $data-logo-item-width - ($data-nav-border-width * 2) !important
      height $data-logo-item-height - ($data-nav-border-width * 2) !important

      padding $data-logo-item-padding !important

      border none !important
      overflow hidden !important
      box-shadow none !important

  .cp-content-item

    display inline-block
    margin $data-logo-item-margin

    width $data-logo-item-width
    height $data-logo-item-height

    border $data-nav-border-width solid $data-tab-header-nav-border-color
    border-radius $data-nav-border-radius + $data-nav-border-width
    background-color $data-logo-item-bg

    overflow hidden

    &:hover
      border none
      background-color transparent
      overflow visible

    .cp-content-item-container
      position absolute
      width $data-logo-item-width - ($data-nav-border-width * 2)
      height $data-logo-item-height - ($data-nav-border-width * 2)

      padding $data-logo-item-padding

      overflow hidden

      transition height linear 0.2s
      transition box-shadow linear 0.2s

      &:hover
        cursor move
        background-color $data-logo-item-hover-bg
        width $data-logo-item-width
        height $data-logo-item-hover-height

        padding $data-logo-item-padding

        border $data-nav-border-width solid $data-logo-item-border-hover-color
        border-radius $data-nav-border-radius + $data-nav-border-width
        z-index $data-logo-item-hover-z-idx
        overflow visible
        box-shadow 0px 2px 3px 2px rgba(black,0.3)

      .cp-content-item-image-container
        display table-cell
        vertical-align middle
        position relative
        width $data-logo-img-max-width
        height $data-logo-img-max-height

        .cp-content-item-image
          max-width $data-logo-img-max-width
          max-height $data-logo-img-max-height

      .cp-content-item-devider
        width 100%
        height $data-logo-item-padding * 2

