
.cp-content-tab-body.music
  margin-bottom 50px
  /*
  .ui-sortable-helper
    overflow hidden !important
    height $data-logo-item-height !important
    border $data-nav-border-width solid $data-logo-item-border-hover-color !important
    border-radius $data-nav-border-radius + $data-nav-border-width !important
    background-color $data-logo-item-bg !important
    .cp-content-item-container
      background-color transparent !important
      width $data-logo-item-width - ($data-nav-border-width * 2) !important
      height $data-logo-item-height - ($data-nav-border-width * 2) !important

      padding $data-logo-item-padding !important

      border none !important
      overflow hidden !important
      box-shadow none !important
*/
  .cp-content-item

    display block
    margin-bottom $data-music-item-margin
    padding $data-music-item-padding

    width 100%

    border $data-nav-border-width solid $data-tab-header-nav-border-color
    border-radius $data-nav-border-radius + $data-nav-border-width
    background-color $data-music-item-bg

    transition background-color linear 0.2s
    transition box-shadow linear 0.2s

    &:hover
      background-color $data-music-item-hover-bg
      box-shadow 0px 2px 3px 2px rgba(black,0.3)
      border $data-nav-border-width solid $data-music-item-border-hover-color
      border-radius $data-nav-border-radius + $data-nav-border-width

      .cp-content-item-container:before
        image "/images/grippy1_large.png" 5px 30px
        cursor move

    .cp-content-item-container
      height $data-music-item-height
      &:before
        content ""
        display block
        background none
        width 10px
        height $data-music-item-height
        float left
        background-repeat repeat-y

      .cp-content-item-title
        height $data-music-item-height
        line-height $data-music-item-height
        vertical-align middle

        .form-group
          width 750px

          .cp-data-music-title
            border-color transparent
            background-color transparent
            box-shadow none

            &:hover
              background-color white
              box-shadow $data-form-input-hover-shadow
              border-color $data-form-input-border-hover-color
            &:focus
              background-color white
              box-shadow $data-form-input-focus-shadow
              border-color $data-form-input-border-focus-color