
.cp-content-tab-body.text-pieces
  margin-bottom 50px
  .cp-content-item

    display block
    margin-bottom $data-music-item-margin
    padding $data-music-item-padding

    width 100%

    border $data-nav-border-width solid $data-tab-header-nav-border-color
    border-radius $data-nav-border-radius + $data-nav-border-width
    background-color $data-music-item-bg

    transition background-color linear 0.2s
    transition box-shadow linear 0.2s

    &:hover
      background-color $data-music-item-hover-bg
      box-shadow 0px 2px 3px 2px rgba(black,0.3)
      border $data-nav-border-width solid $data-music-item-border-hover-color
      border-radius $data-nav-border-radius + $data-nav-border-width

    .cp-content-item-container
      height $data-music-item-height
      &:before
        content ""
        display block
        background none
        width 10px
        height $data-music-item-height
        float left
        background-repeat repeat-y

      .cp-content-item-form
        height $data-music-item-height
        line-height $data-music-item-height
        vertical-align middle
        padding-left 0

        .form-group
          /*width 750px*/

          .cp-data-text-piece-slug, .cp-data-text-piece-content
            border-color transparent
            background-color transparent
            box-shadow none

            &:hover
              background-color white
              box-shadow $data-form-input-hover-shadow
              border-color $data-form-input-border-hover-color
            &:focus
              background-color white
              box-shadow $data-form-input-focus-shadow
              border-color $data-form-input-border-focus-color