#content-container
  position relative
  min-height 100%
  z-index $z-index-content

  .top-scroll-fade
    position: fixed
    width $content-width
    height 108px
    background linear-gradient(top,rgba(black,0.8),transparent)
    z-index $z-index-content-top-scroll-fade

.top-nav-underlight
  position: fixed
  z-index $z-index-content-top-nav-underlight
  image "/images/top-nav-underlight.png"
  background-repeat no-repeat
  width 695px
  height 91px
  top 80px
  margin-left 200px
