#index-container {
  position: relative;
}
#index-container article {
/*border 1px solid red*/
  color: #fff;
  z-index: $z-index-article;
  position: relative;
  min-height: 700px;
}
#index-container article .title {
  position: relative;
  padding-top: $article-margin-top;
  z-index: $z-index-article;
}
#index-container article .title h2 {
  transition: opacity linear 0.2s;
  position: relative;
  font-family: "EncorpadaClassic-ExtraLight";
  font-size: 79pt;
  line-height: 58pt;
  font-weight: 400;
  margin: 0 0 0 $article-margin-left;
}
#index-container article .underline {
  height: 2px;
  background-color: #fff;
  position: relative;
/*top -24px*/
}
#index-container article .text {
  z-index: $z-index-article;
  position: relative;
  top: 24px;
}
#index-container article .text div {
  position: absolute;
}
#index-container article .content {
  position: relative;
  z-index: $z-index-article;
}
#index-container .article-title-underlight {
  position: absolute;
  z-index: $z-index-content-article-underlight;
  image: "/images/article-title-underlight-full.png";
  background-repeat: no-repeat;
/*background-color rgba(green,0.5)*/
  width: 203px;
  height: 659px;
  top: -67px;
  left: 53px;
}
.jcarousel-skin-index-works .jcarousel-container {
  position: relative;
  top: 170px;
  left: 0px;
}
.jcarousel-skin-index-creative-archive .jcarousel-container {
  position: relative;
  top: 175px;
  left: 370px;
}
/*
#nav-about
  height 650px

#nav-works
  height 700px

#nav-clients
  height 650px

#nav-creative-archive
  height 700px

#nav-art-department
  height 800px

#nav-contacts
  height 730px
*
