#index-container
  position relative

  article
    /*border 1px solid red*/
    color white
    z-index $z-index-article
    position: relative
    min-height 700px

    .title
      position: relative
      padding-top $article-margin-top
      z-index $z-index-article
      h2
        transition opacity linear 0.2s
        position: relative
        font-family "EncorpadaClassic-ExtraLight"
        font-size 79pt
        line-height 58pt
        font-weight 400
        margin 0 0 0 $article-margin-left
    .underline
      height 2px
      background-color #ffffff
      position: relative
      /*top -24px*/

    .text
      z-index $z-index-article
      position relative
      top 24px
      div
        position: absolute
    .content
      position: relative
      z-index $z-index-article

  .article-title-underlight
    position: absolute
    z-index $z-index-content-article-underlight
    image "/images/article-title-underlight-full.png"
    background-repeat no-repeat
    /*background-color rgba(green,0.5)*/
    width 203px
    height 659px
    top -67px
    left 53px


.jcarousel-skin-index-works
  .jcarousel-container
    position relative
    top 170px
    left 0px

.jcarousel-skin-index-creative-archive
  .jcarousel-container
    position relative
    top 175px
    left 370px
/*
#nav-about
  height 650px

#nav-works
  height 700px

#nav-clients
  height 650px

#nav-creative-archive
  height 700px

#nav-art-department
  height 800px

#nav-contacts
  height 730px
*