.intro

  #intro-container
    display table
    width 100%

    #intro-content
      display table-cell
      vertical-align middle
      height 100%

      .logo-intro
        image "/images/logo-intro.png"
        background-repeat no-repeat
        width 334px
        height 114px
        display: block