
#navigation-container
  position: fixed
  top 0
  z-index $z-index-navbar

  .navbar-inner
    padding 0 !important
    width $content-width
    height $nav-height
    a.brand
      image "/images/logo-nav.png"
      background-repeat no-repeat
      margin 0 10px 0 10px !important
      width 180px
      height 61px
      position relative
      top ( ($nav-height - $logo-height)/2 )
    .nav
      float right
      margin 0 !important
      font-family "Gals",Georgia
      position: relative
      top 12px
      display table

      li
        display table-cell
        height $nav-item-height
        vertical-align middle
        float none

        a
          transition color linear 0.2s
          font-size $nav-item-font-size
          line-height $nav-item-line-height
          padding 10px 11px !important
          color $nav-item-color-normal
          &:hover
            color $nav-item-color-hover
        &.active
          a
            transition color linear 0.2s
            /*color $nav-item-color-hover !important*/
            color $nav-item-color-hover
            background-color transparent
            box-shadow none

#nav-works-drop, #nav-creative-archive-drop
  & + .dropdown-menu
    border none !important
    border-radius 0 !important
    box-shadow none !important
    top 57px !important
    background linear-gradient(top, #efa000 0px, #fce900 12px,#afa101 12px,#feea02 40px)
    background-color $snav-bg-color !important



    &:after
      border none !important
      
    li
      &:first-child
        position relative
        margin-top 8px
      display block !important
      a
        color $snav-item-color !important
        &:hover
          background-color $snav-item-bg-color !important