#player-container
  position: fixed
  top ($nav-height - 6)
  width $player-width
  background-color $player-bg-color
  font-family "Gals"
  z-index $z-index-player
  margin-left ($content-width - $player-width)

  .title
    height $player-title-height
    width 50%
    color $player-title-color
    background-color $player-title-bg-color
    font-size 17pt
    line-height 21pt
    text-align center
    vertical-align middle

  .list-title
    color white
    height $player-title-height
    color white
    background-color $player-list-title-bg-color
    font-size 12pt
    line-height 18pt
    vertical-align middle
    padding-left 2px
    cursor: pointer

    &.list-open:after
      content:''
      image "/images/player-arrow-open.png"
      background-repeat no-repeat
      width 18px
      height 18px
      display inline-block
      float right
      position: relative
      top 3px
      right 4px

    &.list-close:after
      content:''
      image "/images/player-arrow-close.png"
      background-repeat no-repeat
      width 18px
      height 18px
      display inline-block
      float right
      position: relative
      top 3px
      right 4px


  .list
    color $player-list-color
    background-color $player-list-bg-color
    list-style none

    margin 0 !important
    padding 5px 0 10px 0px !important

    li
      cursor: pointer
      padding 0 0 0px 15px !important
      line-height 20px
      min-height 20px
      font-size 10pt !important
      &:before
        color #f7239b
        width 15px
        font-family "FontAwesome"
        font-size 9pt
        line-height 20px
        content:'\f04b'
        display inline-block
        float float
        position: absolute
        left 0
        opacity 0
        transition opacity linear 0.2s

      &[data-playing-state='playing']:before
        opacity 1
      &[data-playing-state='paused']:before
        opacity 0.5




#sm2-container
  position: absolute
  top -9999px
  left -9999px
  width 1px
  height 1px
  background-color transparent