#works-container
  position relative
  min-height 100%
  z-index $z-index-content

  .top-scroll-fade
    position: fixed
    width $content-width
    height 40px
    background linear-gradient(top,rgba(black,0.4),transparent)
    z-index $z-index-content-top-scroll-fade

.work
  transition box-shadow linear 0.5s
  margin 0 !important
  padding 0 0 60px 0
  background-color white
  width 100%
  min-height 800px !important
  position: relative

  table
    border-spacing 10px

  .row
    padding 40px 0px
    position relative
    height 100%

    $row-cell-padding = 10px
    $row-cell-img-max-width = 1000px


    .row-cell
      padding $row-cell-padding
      text-align center
      vertical-align middle

      &.work-item-description
        padding 30px
        text-align left
        font-family 'MyriadPro-Regular'

      &.col-md-6
        img
          max-width (($row-cell-img-max-width/2) - ($row-cell-padding * 2) )
      &.col-md-12
        img
          max-width ($row-cell-img-max-width - ($row-cell-padding * 2) )

$glow-color = black

.work-in-out-glow
  box-shadow inset 0px 0px 140px 100px rgba($glow-color,0.75) ,
    inset 0px -350px 140px 0px rgba($glow-color,0.75)
