.cp-content-tab-body.edit-item
  border $data-nav-border-width solid $data-works-item-border-color
  border-radius $data-nav-border-radius + $data-nav-border-width
  background-color white
  position relative
  margin-bottom 20px

  .cp-data-work-item-thmb-img-container .img-container
    width $data-works-item-thmb-img-width
    height $data-works-item-thmb-img-height

    img
      max-width $data-works-item-thmb-img-width
      max-height $data-works-item-thmb-img-height

  .cp-data-work-item-logo-img-container .img-container
    width $data-works-item-thmb-img-width
    height $data-works-item-thmb-img-height

    img
      max-width $data-works-item-logo-img-width
      max-height $data-works-item-logo-img-height


  .thumbnail
    padding-bottom 10px
    margin-bottom 0px
    height $data-works-item-img-cntr-height

    .caption
      h3,h4
        margin-top 0px
        margin-bottom 0px

    .img-container
      position relative
      /*background-color #eee*/
      box-shadow $data-works-item-content-cell-shadow

    &:hover
      .thmb-img-panel-container
        opacity 1
        top $data-works-item-panel-padding-top-hover


    .thmb-img-panel-container
      position absolute
      top $data-works-item-panel-padding-top
      width 100%

      transition opacity 0.2s linear, top 0.2s linear
      opacity 0


      .btn-group
        position relative
        border $data-nav-border-width solid $data-nav-border-color
        border-radius $data-nav-border-radius + $data-nav-border-width


  .panel
    margin-bottom 0
    border-color transparent
    border-radius 0
    position relative

    .panel-heading
      border-radius 0
      border-top 1px solid #ddd
      box-shadow 0px 2px 2px 0px rgba(#000,0.2) inset,
        0px -2px 2px 0px rgba(#000,0.2) inset
      image "/images/subtle-bg/textured_paper.png"
      background-repeat repeat

      .btn-group
        border $data-nav-border-width solid $data-nav-border-color
        border-radius $data-nav-border-radius + $data-nav-border-width

    .panel-body

      /*padding-left 0*/
      /*padding-right 0*/
      padding-top 0

      position relative

      .row
        padding $data-works-item-row-padding
        border-top 2px dotted rgba(grey,0.5)
        position relative

        &:first-child
          border-top-color transparent

        .row-cell
          &:last-child
            float right
          &.col-md-6
            width 49%
            img
              max-width $data-works-item-img-max-width-col-md-6

          &.col-md-12
            img
              max-width $data-works-item-img-max-width-col-md-12

          position relative
          box-shadow $data-works-item-content-cell-shadow
          background-color white
          box-sizing border-box
          padding 0
          overflow hidden

          min-height $data-works-item-content-min-height

          &:hover
            .row-cell-panel-container
              opacity 1
              top $data-works-item-panel-padding-top-hover


        .row-panel-container
          width 100%
          margin 5px 0

          .btn-group
            position relative
            border $data-nav-border-width solid $data-nav-border-color
            border-radius $data-nav-border-radius + $data-nav-border-width

        .row-cell-panel-container
          position absolute
          top $data-works-item-panel-padding-top
          width 100%

          transition opacity 0.2s linear, top 0.2s linear
          opacity 0
          z-index $row-cell-panel-z-index

          .btn-group
            position relative
            border $data-nav-border-width solid $data-nav-border-color
            border-radius $data-nav-border-radius + $data-nav-border-width

        .row-cell-content
          position relative
          z-index 0



