.rs-wrap:after,
.rs-slider:after,
.rs-thumb-wrap:after,
.rs-arrows:after,
.rs-caption:after 
  content: "."
  display: block
  height: 0
  clear: both
  line-height: 0
  visibility: hidden


/* ===[ Slider ]=== */

.rs-wrap
  position: relative
  max-width: 100%
  height 100%
  margin auto

.rs-slide-bg
  *zoom: 1
  height 80%
  display table


.rs-slider
  height 600px
  margin auto
  display table-cell
  vertical-align middle
  text-align center

  .rs-slide-image
    position relative
    margin auto

  & > li
    list-style: none
    opacity: 0
    width: 100%
    /*height: 100%*/
    margin: 0 -100% 0 0
    padding: 0
    float: left
    position: relative

    img
      display: block
      max-width: 100%
      max-height 600px
      -ms-interpolation-mode: bicubic


    & > a
      display: block
      padding: 0
      background: none
      border-radius 0




/* ===[ Thumbnails ]=== */

.rs-thumb-wrap
  *zoom: 1
  width 100%
  a
    display block
    vertical-align top
    float left
    position relative
    box-sizing border-box
    -webkit-backface-visibility: hidden /* Hardware accelerate to prevent jumps on transition */

    &:first-child
      margin-left: 0 !important

    img
      max-width: 100%
      max-height: 100%
      display: block
      -ms-interpolation-mode: bicubic
        
 /*===[ Arrows ]=== */

.rs-arrows .rs-next,
.rs-arrows .rs-prev
  z-index: 1

.rs-arrows:hover .rs-next,
.rs-arrows:hover .rs-prev
  z-index: 2

/* ===[ Captions ]=== */

.rs-caption 
  position: absolute
  max-height: 100%
  overflow: auto
  box-sizing border-box
  bottom: 0
  left: 0

  &.rs-top-left
    top: 0
    bottom: auto

  &.rs-top-right
    top: 0
    right: 0
    left: auto
    bottom: auto

  &.rs-bottom-left
    bottom: 0
    left: 0

  &.rs-bottom-right
    right: 0
    left: auto
    border-bottom: none
    border-right: none

  &.rs-top
    top: 0
    bottom: auto
    width: 100%!important

  &.rs-bottom
    width: 100%!important

  &.rs-left
      top: 0
      height: 100%

  &.rs-right
    top: 0
    left: auto
    right: 0
    height: 100%


/* ===[ Grid ]=== */

.rs-grid 
  position: absolute
  overflow: hidden
  width: 100%
  height: 100%
  display: none


.rs-gridlet 
  position: absolute
  opacity: 1


/* Optional - remove captions at smaller screen widths
@media screen and (max-width: 480px) 
	.rs-caption  opacity: 0!important 

*/
