/*
 * jQuery RefineSlide plugin v0.3
 * Copyright 2012, Alex Dunphy
 * MIT License (http://www.opensource.org/licenses/mit-license.php)
 *
 * Dark theme
 */

.rs-slide-bg 
  /*padding: 10px*/
  background: rgba(0, 0, 0, .1)
  /*border-radius 5px*/
  /*box-shadow 0 1px 1px rgba(0, 0, 0, .15) inset*/

.rs-slider > li
  /*border-radius 5px*/

  img
    box-shadow 0 0 4px rgba(0, 0, 0, .5)


/* ===[ Thumbnails ]=== */

.rs-thumb-wrap
  margin: 21px auto auto
  position absolute
  bottom 0px !important
  border-top 1px solid rgba(white,0.1) !important
  background-color: rgba(black .6)
  height 180px
  a
    height 80px
    opacity: 0.4
    padding: 8px
    *padding: 0
    transition opacity .5s ease-in-out


    &:hover,&.active
      opacity: 1

    &:first-child
      margin-left: 0!important

/* ===[ Arrows ]=== */

.rs-arrows
  float: left


  .rs-next, .rs-prev
    width: 42px
    height: 42px
    display: block
    float: left
    margin: 10px 0 10px 0
    position: relative
    text-shadow: 0 -1px 0 #000
    padding: 0 2px 2px 0
    border: 1px solid #35393b
    border: 1px solid rgba(0, 0, 0, .2)
    border-bottom: 1px solid #313437
    border-bottom: 1px solid rgba(0, 0, 0, .35)
    background: rgba(0, 0, 0, .1)
    background: linear-gradient(top, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2))
    border-radius: 5px 0 0 5px
    box-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 1px 1px rgba(255, 255, 255, 0) inset
    
  .rs-next:active, .rs-prev:active
    border-color: #292b2d
    border-color: rgba(0, 0, 0, .45)
    box-shadow: 0 1px 6px rgba(0, 0, 0, .7) inset

  &:hover
    .rs-next, .rs-prev
      border: 1px solid #313336
      border: 1px solid rgba(0, 0, 0, .3)
      border-bottom: 1px solid #292b2d
      border-bottom: 1px solid rgba(0, 0, 0, .45)
      box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 1px 1px rgba(255, 255, 255, .05) inset



  .rs-next:before, .rs-prev:before
    content: ""
    width: 0
    height: 0
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-left: 10px solid #c6c8c9
    border-left: 10px solid rgba(255, 255, 255, .7)
    position: absolute
    top: 11px
    left: 16px


  .rs-next
    border-left: 0!important
    border-radius: 0 5px 5px 0

    &:hover:before
      border-left: 10px solid #fff
    &:active:before
      border-left: 10px solid #8acdf3

  .rs-prev
    &:hover:before
      border-right: 10px solid #fff

    &:active:before
      border-right: 10px solid #8acdf3
    &:before
      border-left: none
      border-right: 10px solid #c6c8c9
      border-right: 10px solid rgba(255, 255, 255, .7)


/* ===[ Captions ]=== */

.rs-caption 
  padding: 20px
  color: #fff
  text-shadow: 0 -1px 0 #000
  border: 1px solid #000
  background: rgba(0, 0, 0, .6)
  background: linear-gradient(top, rgba(0, 0, 0, .45), rgba(0, 0, 0, .7))
  box-shadow: 0 1px 0 rgba(255, 255, 255, .12) inset
  p
    color: #fff
    margin-bottom: 0
    

  &.rs-top-left
    border-radius: 5px 0 5px 0
    border-top: none
    border-left: none


  &.rs-bottom-right
    border-radius: 5px 0 5px 0
    border-bottom: none
    border-right: none


  &.rs-top-right
    border-radius: 0 5px 0 5px
    border-top: none
    border-right: none


  &.rs-bottom-left
    border-radius: 0 5px 0 5px
    border-bottom: none
    border-left: none


  &.rs-bottom
    border-radius: 0 0 5px 5px
    border-bottom: none
    border-left: none
    border-right: none


  &.rs-top
    border-radius: 5px 5px 0 0
    border-top: none
    border-left: none
    border-right: none


  &.rs-left
    border-radius: 5px 0 0 5px
    border-left: none
    border-top: none
    border-bottom: none


  &.rs-right
    border-radius: 0 5px 5px 0
    border-right: none
    border-top: none
    border-bottom: none


/* ===[ Grid ]=== */

.rs-grid 
    border-radius: 5px
    overflow: hidden

.rs-gridlet
  &.rs-top-left
    border-top-left-radius: 5px

  &.rs-top-right
    border-top-right-radius: 5px

  &.rs-bottom-left
    border-bottom-left-radius: 5px

  &.rs-bottom-right
    border-bottom-right-radius: 5px

