#beaver-modal-text-status
  position fixed
  top -100px
  transition opacity linear 0.3s, top linear 0.3s
  width 100%
  z-index 9999



  .alert
    width 400px
    box-shadow 0px 2px 3px rgba(#000,0.2)
    padding 5px
    font-size 10pt
    .close
      right 0

  &.beaver-status-out
    top - 40px
    opacity 0

  &.beaver-status-in
    top 5px
    opacity 1