.row
  margin-left 0
  margin-right 0

.navbar
  margin-bottom 0
  border none
  border-radius 0

  .brand
    float left
    display block
    font-size 20px
    font-weight 200

.navbar-inner
  vertical-align middle
  background-color black

  .nav
    li
      a, a:hover, a:focus
        background-color transparent !important

.dropdown-menu
  float inherit !important
  left inherit !important
