/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300|Open+Sans+Condensed:400,500,600,700&subset=cyrillic,latin")*/

@font-face
  font-family: 'Gals'
  src: url('../fonts/Gals.eot'),
    url('../fonts/Gals.otf') format('otf'),
    url('../fonts/Gals.svg') format('svg'),
    url('../fonts/Gals.woff') format('woff'),
    url('../fonts/Gals.ttf') format('truetype')

  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EncorpadaClassic-Regular'
  src: url('../fonts/EncorpadaClassic-Regular.eot'),
    url('../fonts/EncorpadaClassic-Regular.otf') format('otf'),
    url('../fonts/EncorpadaClassic-Regular.svg') format('svg'),
    url('../fonts/EncorpadaClassic-Regular.woff') format('woff'),
    url('../fonts/EncorpadaClassic-Regular.ttf') format('truetype')

  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EncorpadaClassic-RegularItalic'
  src: url('../fonts/EncorpadaClassic-RegularItalic.eot'),
    url('../fonts/EncorpadaClassic-RegularItalic.otf') format('otf'),
    url('../fonts/EncorpadaClassic-RegularItalic.svg') format('svg'),
    url('../fonts/EncorpadaClassic-RegularItalic.woff') format('woff'),
    url('../fonts/EncorpadaClassic-RegularItalic.ttf') format('truetype')

  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EncorpadaClassic-Bold'
  src: url('../fonts/EncorpadaClassic-Bold.eot'),
    url('../fonts/EncorpadaClassic-Bold.otf') format('otf'),
    url('../fonts/EncorpadaClassic-Bold.svg') format('svg'),
    url('../fonts/EncorpadaClassic-Bold.woff') format('woff'),
    url('../fonts/EncorpadaClassic-Bold.ttf') format('truetype')

  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EncorpadaClassic-SemiBold'
  src: url('../fonts/EncorpadaClassic-SemiBold.eot'),
    url('../fonts/EncorpadaClassic-SemiBold.otf') format('otf'),
    url('../fonts/EncorpadaClassic-SemiBold.svg') format('svg'),
    url('../fonts/EncorpadaClassic-SemiBold.woff') format('woff'),
    url('../fonts/EncorpadaClassic-SemiBold.ttf') format('truetype')

  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EncorpadaClassic-ExtraLight'
  src: url('../fonts/EncorpadaClassic-ExtraLight.eot'),
    url('../fonts/EncorpadaClassic-ExtraLight.otf') format('otf'),
    url('../fonts/EncorpadaClassic-ExtraLight.svg') format('svg'),
    url('../fonts/EncorpadaClassic-ExtraLight.woff') format('woff'),
    url('../fonts/EncorpadaClassic-ExtraLight.ttf') format('truetype')

  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EncorpadaClassic-Light'
  src: url('../fonts/EncorpadaClassic-Light.eot'),
    url('../fonts/EncorpadaClassic-Light.otf') format('otf'),
    url('../fonts/EncorpadaClassic-Light.svg') format('svg'),
    url('../fonts/EncorpadaClassic-Light.woff') format('woff'),
    url('../fonts/EncorpadaClassic-Light.ttf') format('truetype')

  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MyriadPro-Regular'
  src: url('../fonts/MyriadPro-Regular.eot'),
    url('../fonts/MyriadPro-Regular.otf') format('otf'),
    url('../fonts/MyriadPro-Regular.svg') format('svg'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype')

  font-weight: normal
  font-style: normal
