// deny selecting text
//+2013.8.28 tuiteraz
block-selection()
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select -moz-none
  -ms-user-select none
  user-select none


