$phone-title-color-normal = #666
$phone-title-color-hover  = #fff
$phone-title-color-active = #fff


phone()
  position absolute
  z-index $z-index-phone-normal
  cursor pointer
  /*border 1px solid red*/
  img
    transform scale(0.7)

  .title
    position: relative
    font  16pt/17pt MyriadPro-Regular
    color $phone-title-color-normal
    transition color linear 0.2s
    transition text-shadow linear 0.2s
    cursor: pointer
    padding 0 !important
    margin 0 !important
    z-index $z-index-phone-title-normal

  &:hover
    z-index $z-index-phone-hover
    .title
      color $phone-title-color-hover
      text-shadow 0px 0px 2px #000, 0px 0px 10px #fff
      &:active
        color $phone-title-color-active

#phone-katya
  left 415px
  top 166px
  phone()

  .title
    left 230px
    top -151px
    width 120px

#phone-lilia
  left 107px
  top 335px
  phone()

  .title
    left -0px
    top -66px
    width 160px

#phone-margo
  left 659px
  top 171px
  phone()

  .title
    left 162px
    top -26px
    width 160px

#phone-tan
  left 2px
  top 93px
  phone()

  .title
    left 251px
    top -55px
    width 160px


.modal-photo-container
  position fixed
  display none
  left 0px
  background-color rgba(black,0.95)
  z-index $z-index-modal

  .title
    $left = 7px
    position: relative
    top 86px
    margin auto auto 0
    width $content-width - $left
    z-index $z-index-modal + 1
    left $left

    color $phone-title-color-hover
    text-shadow 0px 0px 2px #000, 0px 0px 10px #fff

    .close
      /*position: relative*/
      float right
      color $phone-title-color-hover
      position: relative
      top -18px
