.clients-list
  position relative
  left 0px
  top 200px
  list-style none
  /*display table*/
  width 100%
  margin 0 !important

  img
    /*display table-cell*/
    /*vertical-align middle*/
    /*min-height 100px*/
    /*float left*/
    margin 10px