.map-marker {
  transition: color linear 0.2s;
  color: #666;
  cursor: pointer;
}
.map-marker:hover {
  color: #a3a3a3;
}
.map-marker:active {
  color: #fff;
}
#map-container {
  position: absolute;
  z-index: $z-index-map;
  box-shadow: 0px 0px 500px 50px rgba(0,0,0,0.8) inset;
  display: table;
}
#map-container .map {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
#map-container .map .title {
  padding: 0 !important;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  background-color: #fff;
  width: 656px;
  margin: auto;
  border-bottom: 1px solid #999;
}
#map-container .map .title .close {
  position: relative;
  top: 3px;
  margin-right: 3px;
  cursor: pointer;
}
#map-container .map .title .print {
  position: relative;
  top: 2px;
  cursor: pointer;
}
#map-container .map .image-container {
  margin: auto;
  width: 656px;
}
