$map-marker-color = #666
$map-marker-color-active = #fff

$map-image-width = 656px
$map-image-height = 722px

$map-container-title-height = 30px

.map-marker
  transition color linear 0.2s
  color $map-marker-color
  cursor pointer
  &:hover
    color lighten($map-marker-color,40%)
  &:active
    color $map-marker-color-active

#map-container
  position: absolute
  z-index $z-index-map
  box-shadow 0px 0px 500px 50px rgba(black, 0.8) inset
  display table

  .map
    display table-cell
    vertical-align middle
    height 100%

    .title
      padding 0 !important
      height $map-container-title-height
      line-height $map-container-title-height
      vertical-align middle
      background-color white
      width $map-image-width
      margin auto
      border-bottom 1px solid #999

      .close
        position: relative
        top 3px
        margin-right 3px
        cursor pointer
      .print
        position: relative
        top 2px
        cursor pointer



    .image-container
      margin auto
      width $map-image-width