$container-width = 1000px
$item-width      = 202px
$item-height     = 307px

$item-image-border-color = #545454
$item-image-shadow-color = #000

$btn-nav-width = 35px
$btn-nav-color-normal = darken(#bcb6b8,20%)
$btn-nav-color-hover  = lighten($btn-nav-color-normal,40%)
$btn-nav-color-active = darken($btn-nav-color-normal,30%)

.jcarousel-skin-index-works
  .jcarousel-container

  .jcarousel-container-horizontal
    width: $container-width
    padding: 0

  .jcarousel-clip
    overflow: hidden

  .jcarousel-clip-horizontal
    width:  $container-width
    height: $item-height

  .jcarousel-item
    width: $item-width
    height: $item-height


  .jcarousel-item-horizontal
    margin-left: 0
    margin-right: 1px

    a
      width: $item-width
      height: $item-height
      cursor pointer


      &::before
        transition box-shadow linear 0.2s
        content ''
        box-shadow inset 0px 0px 40px 1px rgba($item-image-shadow-color,0.75) ,
          inset 0px -50px 40px 0px rgba($item-image-shadow-color,0.75)
        width $item-width + 2
        height $item-height + 2
        position absolute
      &:hover::before
        box-shadow none

      img
        width: $item-width
        height: $item-height
        border 1px solid $item-image-border-color

  .jcarousel-item-placeholder
    background: #fff
    color: #000

  /*Horizontal Buttons*/

  .jcarousel-next-horizontal
    position: absolute
    top: 0px
    right: 0px
    width: $btn-nav-width
    height: $item-height
    cursor: pointer
    background-color rgba(black,0.65)
    border-left 1px solid rgba(black 0.8)
    &::after
      content '\f101'
      font-family FontAwesome
      font-size 42pt
      line-height $item-height
      vertical-align middle
      right 1px
      position absolute
      transition color
      color $btn-nav-color-normal


    &:hover::after
      color $btn-nav-color-hover
    &:active::after, &:focus::after
      color $btn-nav-color-active


  .jcarousel-next-disabled-horizontal
    cursor: default

    &:hover,&:focus,&:active
      cursor: default


  .jcarousel-prev-horizontal
    position: absolute
    top: 0px
    left: 0px
    width: $btn-nav-width
    height: $item-height
    cursor: pointer
    background-color rgba(black,0.65)
    border-right 1px solid rgba(black 0.8)
    &::after
      content '\f100'
      font-family FontAwesome
      font-size 42pt
      line-height $item-height
      vertical-align middle
      left 1px
      position: relative
      transition color
      color $btn-nav-color-normal


    &:hover::after
      color $btn-nav-color-hover
    &:active::after, &:focus::after
      color $btn-nav-color-active


  .jcarousel-prev-disabled-horizontal
    cursor: default
    background-position: -96px 0
    &:hover,&:focus,&:active
      cursor: default
      background-position: -96px 0

