.jcarousel-skins-tango 
  .jcarousel-container
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    border-radius: 10px
    background: #F0F6F9
    border: 1px solid #346F97

  .jcarousel-direction-rtl
    direction: rtl

  .jcarousel-container-horizontal
    width: 245px
    padding: 20px 40px

  .jcarousel-container-vertical
    width: 75px
    height: 245px
    padding: 40px 20px

  .jcarousel-clip
    overflow: hidden

  .jcarousel-clip-horizontal
    width:  245px
    height: 75px

  .jcarousel-clip-vertical
    width:  75px
    height: 245px

  .jcarousel-item
    width: 75px
    height: 75px

  .jcarousel-item-horizontal
    margin-left: 0
    margin-right: 10px



  .jcarousel-direction-rtl
    .jcarousel-item-horizontal
      margin-left: 10px
      margin-right: 0



  .jcarousel-item-vertical
    margin-bottom: 10px



  .jcarousel-item-placeholder
    background: #fff
    color: #000

/**
 *  Horizontal Buttons
 */
.jcarousel-skins-tango
  .jcarousel-next-horizontal
    position: absolute
    top: 43px
    right: 5px
    width: 32px
    height: 32px
    cursor: pointer
    background: transparent url(../images/jcarousel-skins/tango/next-horizontal.png) no-repeat 0 0

  .jcarousel-direction-rtl
    .jcarousel-next-horizontal
      left: 5px
      right: auto
      background-image: url(../images/jcarousel-skins/tango/prev-horizontal.png)

  .jcarousel-next-horizontal
    &:hover,&:focus
      background-position: -32px 0

  .jcarousel-next-horizontal:active
    background-position: -64px 0


  .jcarousel-next-disabled-horizontal
    cursor: default
    background-position: -96px 0

    &:hover,&:focus,&:active
      cursor: default
      background-position: -96px 0


  .jcarousel-prev-horizontal
    position: absolute
    top: 43px
    left: 5px
    width: 32px
    height: 32px
    cursor: pointer
    background: transparent url(../images/jcarousel-skins/tango/prev-horizontal.png) no-repeat 0 0



  .jcarousel-direction-rtl
    .jcarousel-prev-horizontal
      left: auto
      right: 5px
      background-image: url(../images/jcarousel-skins/tango/next-horizontal.png)


  .jcarousel-prev-horizontal
    &:hover,&:focus
      background-position: -32px 0

  .jcarousel-prev-horizontal:active
    background-position: -64px 0


  .jcarousel-prev-disabled-horizontal,
    cursor: default
    background-position: -96px 0
      &:hover,&:focus,&:active
        cursor: default
        background-position: -96px 0

  /* VERTICAL        */

  .jcarousel-next-vertical
    position: absolute
    bottom: 5px
    left: 43px
    width: 32px
    height: 32px
    cursor: pointer
    background: transparent url(../images/jcarousel-skins/tango/next-vertical.png) no-repeat 0 0

  .jcarousel-next-vertical
    &:hover,&:focus
      background-position: 0 -32px
    &:active
      background-position: 0 -64px


  .jcarousel-next-disabled-vertical
    cursor: default
    background-position: 0 -96px
    &:hover,&:focus,&:active
      cursor: default
      background-position: 0 -96px



  .jcarousel-prev-vertical
    position: absolute
    top: 5px
    left: 43px
    width: 32px
    height: 32px
    cursor: pointer
    background: transparent url(../images/jcarousel-skins/tango/prev-vertical.png) no-repeat 0 0



  .jcarousel-prev-vertical
    &:hover,&:focus
      background-position: 0 -32px
    &:active
      background-position: 0 -64px


  .jcarousel-prev-disabled-vertical
    cursor: default
    background-position: 0 -96px
    &:hover,&:focus,&:active
      cursor: default
      background-position: 0 -96px