@import "./data/logos"
@import "./data/music"
@import "./data/works"
@import "./data/art-department"
@import "./data/text-pieces"

#cp-data-nav-container
  position fixed
  top $navbar-height + $data-vertical-gutter
  width $data-nav-width

  border $data-nav-border-width solid $data-nav-border-color
  border-radius $data-nav-border-radius + $data-nav-border-width

  ul
    border-radius $data-nav-border-radius
    background-color $data-nav-bg-color
    li
      &:first-child
        border-radius $data-nav-border-radius $data-nav-border-radius 0 0
      &:last-child
        border-radius 0 0 $data-nav-border-radius $data-nav-border-radius

      a
        transition background-color linear 0.2s
        transition color linear 0.4s

#cp-data-container
  position relative
  top $data-vertical-gutter
